@import url("../node_modules/modern-normalize/modern-normalize.css");

$primary ?= #364A57
$secondary ?= #939CA3

article
  height 100%

.wrapper
  display grid
  grid-template-columns auto 1fr
  grid-template-rows auto 1fr
  grid-column-gap 0px
  grid-row-gap 0px
  height 100%

.task-title
  grid-row-start 1
  grid-column-start 1
  grid-row-end 1
  grid-column-end 1
  border-bottom 1px solid $primary
  border-right 1px dashed rgba($secondary, 0.2)
  display inline-flex
  align-items center
  padding 0 10px

.task-axis
  -ms-overflow-style none
  scrollbar-width none
  overflow auto
  grid-row-start 2
  grid-column-start 1
  grid-row-end 3
  grid-column-end 2
  width 240px

  &::-webkit-scrollbar
    display none

  & > div > div
    display inline-flex
    align-items center
    padding 0 10px
    position absolute
    top 0
    left 0
    width 240px
    border-right 1px dashed rgba($secondary, 0.2)

.timeline-axis
  overflow hidden
  grid-row-start 1
  grid-column-start 2
  grid-row-end 2
  grid-column-end 3
  height 32px

  & > div > div
    display inline-flex
    align-items center
    padding 0 10px
    position absolute
    top 0
    left 0
    border-bottom 1px solid $primary
    // border-bottom 1px dashed rgba($secondary, 0.2)
    border-left 1px solid rgba($secondary, 0.4)
    height 32px

.schedule-grid
  overflow auto
  grid-row-start 2
  grid-column-start 2
  grid-row-end 3
  grid-column-end 3
  & > div > div
    position absolute
    top 0
    left 0
    border-left 1px solid rgba($secondary, 0.2)
    // border-bottom 1px dashed rgba($secondary, 0.2)
  .s, .e, .m
    border-color $primary
    margin-top 7px
    height 12px
    border-top 1px solid $primary
    border-bottom 2px solid $primary
    margin-bottom -1px
  .s
    border-top-left-radius 4px
    border-bottom-left-radius 4px
    border-left 1px solid $primary
  .e
    border-top-right-radius 4px
    border-bottom-right-radius 4px
    border-right 1px solid $pr

.dragging-no
  border 1px solid green
.dragging-yes
  border 1px solid red
