@import url('../node_modules/modern-normalize/modern-normalize.css')

// @font-face
//   font-family 'Canela'
//   src url('Canela-Regular.woff2') format('woff2')
//   font-style normal
//   font-weight normal
//   text-rendering optimizeLegibility

// @font-face
//   font-family 'Canela'
//   src url('Canela-Medium.woff2') format('woff2')
//   font-style normal
//   font-weight bold
//   text-rendering optimizeLegibility

$bg = #FFFFF3
$fg = #1b2b34

// @media only screen and (min-width 900px)
//   .wrapper
//     margin 0 3rem

// input[type=text],
// input[type=password],
// input[type=email],
// input[type=number],
// input[type=tel],
// input[type=url],
// input[type=search],
// textarea
//   border 1px solid $fg
//   border-radius 0.2rem
//   padding 0.8rem 0.7rem 0.7rem 0.7rem
//   font-size 1rem
//   width 100%
//   line-height 1rem
//   &:focus
//     outline none
//     border-color $y
